@model ITBedrijfProject.Models.Organisation

<h2>Do you want to delete this organisation?</h2>

@using (Html.BeginForm("DeleteItem", "Vereniging", FormMethod.Post))
{
    @Html.HiddenFor(a => a.Id)
    <table>
        <tr>
            <td>Gegevens</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.OrganisationName)</td>
            <td>@Html.ValueFor(a => a.OrganisationName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Login)</td>
            <td>@Html.ValueFor(a => a.Login)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Password)</td>
            <td>@Html.ValueFor(a => a.Password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Address)</td>
            <td>@Html.ValueFor(a => a.Address)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Email)</td>
            <td>@Html.ValueFor(a => a.Email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Phone)</td>
            <td>@Html.ValueFor(a => a.Phone)</td>
        </tr>

        <tr>
            <td>Database Gegevens</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.DbName)</td>
            <td>@Html.ValueFor(a => a.DbName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.DbLogin)</td>
            <td>@Html.ValueFor(a => a.DbLogin)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.DbPassword)</td>
            <td>@Html.ValueFor(a => a.DbPassword)</td>
        </tr>
        <tr>
            <td>
                <a href="/Vereniging/Index">
                    <input type="button" value="Back" />
                </a>
            </td>
            <td><input type="submit" value="Delete" /></td>

        </tr>
    </table>

    
}