@model ITBedrijfProject.PresentationModels.PMOrganisation
@{
    ViewBag.Title = "NewOrganisation";
}

<h2>New Organisation</h2>
@using (Html.BeginForm("NewOrganisation", "Vereniging", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>Persoonlijke Gegevens</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.OrganisationName)</td>
            <td>@Html.TextBoxFor(a => a.OrganisationName, new { placeholder = Html.DisplayNameFor(a => a.OrganisationName) })</td>
            @Html.ValidationMessageFor(a => a.OrganisationName)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Login)</td>
            <td>@Html.TextBoxFor(a => a.Login, new { placeholder = Html.DisplayNameFor(a => a.Login) })</td>
            @Html.ValidationMessageFor(a => a.Login)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Password)</td>
            <td>@Html.PasswordFor(a => a.Password, new { placeholder = Html.DisplayNameFor(a => a.Password) })</td>
            @Html.ValidationMessageFor(a => a.Password)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.ControlPassword)</td>
            <td>@Html.PasswordFor(a => a.ControlPassword, new { placeholder = Html.DisplayNameFor(a => a.ControlPassword) })</td>
            @Html.ValidationMessageFor(a => a.ControlPassword)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Address)</td>
            <td>@Html.TextBoxFor(a => a.Address, new { placeholder = Html.DisplayNameFor(a => a.Address) })</td>
            @Html.ValidationMessageFor(a => a.Address)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Email)</td>
            <td>@Html.TextBoxFor(a => a.Email, new { placeholder = Html.DisplayNameFor(a => a.Email) })</td>
            @Html.ValidationMessageFor(a => a.Email)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Phone)</td>
            <td>@Html.TextBoxFor(a => a.Phone, new { placeholder = Html.DisplayNameFor(a => a.Phone) })</td>
            @Html.ValidationMessageFor(a => a.Phone)
        </tr>

        <tr>
            <td>Database Gegevens</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.DbLogin)</td>
            <td>@Html.TextBoxFor(a => a.DbLogin, new { placeholder = Html.DisplayNameFor(a => a.DbLogin) })</td>
            @Html.ValidationMessageFor(a => a.DbLogin)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.DbName)</td>
            <td>@Html.TextBoxFor(a => a.DbName, new { placeholder = Html.DisplayNameFor(a => a.DbName) })</td>
            @Html.ValidationMessageFor(a => a.DbName)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.DbPassword)</td>
            <td>@Html.PasswordFor(a => a.DbPassword, new { placeholder = Html.DisplayNameFor(a => a.DbPassword) })</td>
            @Html.ValidationMessageFor(a => a.DbPassword)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.DbControlPassword)</td>
            <td>@Html.PasswordFor(a => a.DbControlPassword, new { placeholder = Html.DisplayNameFor(a => a.DbControlPassword) })</td>
            @Html.ValidationMessageFor(a => a.DbControlPassword)
        </tr>
        <tr>
            <td>
                <a href="/Vereniging/Index">
                    <input type="button" value="Back" />
                </a>
            </td>
            <td><input type="submit" value="Create" /></td>
           
        </tr>
    </table>

   
}
