@model ITBedrijfProject.PresentationModels.PMOrganisationRegister
<h2>@ViewBag.Organisation.OrganisationName</h2>
<h3>Add register</h3>
@using (Html.BeginForm("NewRegister", "Vereniging", FormMethod.Post))
{
    @Html.HiddenFor(a => a.OrganisationID)
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.RegisterName)</td>
            <td>@Html.DropDownListFor(a => a.RegisterID, Model.NewRegister)</td>
            <td>@Html.ValidationMessageFor(a => a.RegisterID)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.FromDate)</td>
            <td><input type="date" value="@DateTime.Today" id="FromDate" name="FromDate" min="@DateTime.Today.Year-@DateTime.Today.Month-@DateTime.Today.Day" /></td>
            <td><input type="time" value="@DateTime.Today" id="FromTime" name="FromTime" /></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.UntilDate)</td>
            <td><input type="date" value="@DateTime.Today" id="UntilDate" name="UntilDate" min="@DateTime.Today.Year-@DateTime.Today.Month-@DateTime.Today.Day" /></td>
            <td><input type="time" value="@DateTime.Today" id="UntilTime" name="UntilTime" /></td>
        </tr>
        <tr>
            <td>
                <a href="/Vereniging/Index">
                    <input type="button" value="Back" />
                </a>
            </td>
            <td><input type="submit" value="Create" /></td>

        </tr>
    </table>
}
