@model ITBedrijfProject.PresentationModels.PMOrganisationRegister
<h2>@ViewBag.Organisation.OrganisationName</h2>
<h3>Registers</h3>
@using (Html.BeginForm("Index", "Vereniging", FormMethod.Post))
{
    <p><a href="/Vereniging/NewRegister?id=@ViewBag.Organisation.Id">Add register</a></p>
<table>
    <tr>
        <td width="200px">@Html.LabelFor(a => a.RegisterName)</td>
        <td width="200px">@Html.LabelFor(a => a.Device)</td>
        <td width="200px">@Html.LabelFor(a => a.FromDate)</td>
        <td width="200px">@Html.LabelFor(a => a.UntilDate)</td>
    </tr>
    @foreach (var item in @ViewBag.Register)
    {
        <tr>
            <td>@item.RegisterName</td>
            <td>@item.Device</td>
            <td>@item.FromDate</td>
            <td>@item.UntilDate</td>
            <td><a href="/Vereniging/EditRegister?organisationID=@ViewBag.Organisation.Id&registerID=@item.RegisterID">Edit</a></td>
        </tr>
    }
</table>

<input type="submit" name="Back" value="Back" />
}
